@import './bootstrap-grid.scss';
@import "./reset.scss";

// ------------------------------------------------------------------------------------------------
// SITE
// ------------------------------------------------------------------------------------------------

//**** Fonts ****//
$font-domine: 'Domine', serif;
$font-lato: 'Lato', sans-serif;
$font-title: 'Montserrat', sans-serif;


//**** COLORS ****//
$color-body: #838b8c;


//**** MIXINS ****//

@mixin bg-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin link {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

body {
	font-family: $font-title;
	line-height: 1.6;
	font-size: 14px;
	color: $color-body;
	font-weight: 400;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

img {
	height: auto;
	vertical-align: middle;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: all .2s linear;
}

p {
	margin-bottom: 20px;
	font-size: 15px;
	font-family: $font-domine;

	&:last-child {
		margin-bottom: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 30px;
    color: #343a3b;
	font-family: $font-title;
	font-weight: 600;
	text-transform: uppercase;

    &:last-child {
        margin-bottom: 0;
    }
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 14px;
}

.pages-big-title {
	font-family: $font-lato;
	font-weight: 300;
}


// ------------------------------------------
// FORM
// ------------------------------------------

input[type="text"],
input[type="submit"] {
	height: 52px;
	border: 0;
	border-bottom: 3px solid rgb(50, 51, 52);
	transition: border 0.3s ease-in-out;
}


input[type="text"] {
	background-color: rgb(50, 51, 52);
	font-size: 13px;
	width: 100%;
	max-width: 415px;
	color: #5e5e5e;

	&:focus {
		border-color: #f6a149;
	}
}

input[type="submit"] {
	border-radius: 30px;
	padding: 15px 37px;
	text-transform: uppercase;
	background-color: #16d428;
	transition: all .3s linear;

	&:hover {
		background-color: #03b6e7;
	}
}


// ------------------------------------------
// COLOR SCHEME LIGHT
// ------------------------------------------

.color-scheme-light {

	h1,h2,h3,h4,h5,h6 {
		color: #FFF;
	}

	p, ul {
		color: rgba(255,255,255,.9);
	}

	input[type="submit"] {
		color: #fff;
	}
}

.color-scheme-p {
	p, ul {
		color: #838b8c;
	}
}

// ------------------------------------------
// HELPER CLASSES
// ------------------------------------------

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.align-center {
	align-items: center;
}

.light-background {
	background-color: #e7eff1;
}

.blue-background {
	background-color: #03b6e7;
}

.black-background {
	background-color: #262829;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.full-screen {
	width: 100%;
}

.font-inherit {
	font-family: inherit;
}

//--------------------------------
// HEADER COLUMNS
//--------------------------------
.header-col {
	display: flex;
	flex-grow: 1;
}

.header-row-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-col-left {
	padding-right: 15px;
}

.header-col-right {
	padding-left: 15px;
}

// ------------------------------------------------------------------------------------------------
// HEADER SITE
// ------------------------------------------------------------------------------------------------

//**** HEADER-TOP ****//

.header-top {
	display: flex;
	align-items: center;

	.header-row-inner {
		height: 40px;
	}
}

.header-top-inner {
	display: flex;
    justify-content: space-between;
}

.header-info-box {
	padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    height: 40px;
    align-items: center;
    display: flex;
	border-right: 1px solid #505253;

	&:last-child {
		margin-right: 0;
		border-right: none;
		padding-right: 0;
	}
}

.info-text {
	color: #a2a5a6;
}

.header-top-info,
.steps-col-title,
.blog-item-title,
.contact-title,
.meneger-position {
	text-transform: uppercase;
}

//**** HEADER-GENERAL ****//

.header-general {
	display: flex;
	align-items: center;

	.header-row-inner {
		height: 101px;
	}
}

//**** MAIN NAVIGATION ****//

.main-nav {
	display: flex;
	margin-bottom: 0;
	padding-left: 0;
	
	li {

		a {
			display: inline-block;
			font-size: 14px;
			color: #4e4e4e;
			text-transform: uppercase;
			padding: 18px;
		}

		&.active,
		&:hover {

			a {
				color:#ffac55;
			}
		}
	}
}

.burger  {
	display: none;
	cursor: pointer;
	padding: 10px 20px;

	i {
		font-size: 25px;
    	color: #03b6e7;
		transition: .2s all linear;
	}

	&:hover {

		i {
			color:#ffac55 ;
		}
	}

}

.header-col-left {

	.main-nav {
		margin-left: -15px;
	}
}

.header-col-right {

	.main-nav {
		margin-right: -15px;
	}
}

// ------------------------------------------------------------------------------------------------
// INTRO
// ------------------------------------------------------------------------------------------------

.intro {
	background: url(../img/intro-bg.jpg);
	@include bg-img();
	min-height: 700px;
	margin-bottom: 95px;

	.row {
		.col-sm-6 {
			border-bottom: 1px solid #00a6d3;
			transition: all .3s ease-in-out;
			background-color: #03b6e7;

			&.active,
			&:hover {
				background-color: #00a6d3;
				cursor: pointer;
			}

			.col-with-btn{
				display: flex;
    			align-items: center;
    			justify-content: center;
			}

			&:nth-last-of-type(even) {
				border-right: 1px solid #00a6d3;
			}
		}
	}
}

.container-position {
	position: relative;
	min-height: 700px;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	padding: 13px 25px;
	font-size: 13px;
	color: #ffffff;
    border-radius: 30px;
    background-color: #16d428;

	&:hover {
		background-color: #03b6e7;
	}

	&.btn-large {
		padding: 16px 33px;
	}

	&.btn-hover {
		&:hover {
			background-color: #ffac56;
		}
	}

}

.banner {
	position: absolute;
	left: 0;
	bottom: 0;
	max-width: 460px;
	background-color: #ffac56;
	text-transform: uppercase;
}

.banner-main-block {
	position: relative;
	padding: 22px 40px;
}

.arrow-up {
	position: absolute;
	top: 5px;
    right: 5px;
	display: none;

	i {
		font-size: 30px;
		color: #03b6e7;
	}
}

.banner-title {
	font-family: $font-lato;
	font-weight: 300;
}

.banner-subtitle,
.contact-title {
	margin-bottom: 0;
}

.col-inner {
	display: flex;
	justify-content: space-around;
	padding: 35px 32px;
}

.text-banner,
.arrow-right {
	color: #fff;
}

.banner-info {
	margin-right: 27px;
}

.arrow-right {
	display: flex;
    align-items: flex-end;
	margin-right: -18px;
}

.banner-logo {
	margin-bottom: 10px;
}

.circle {
	display: inline-block;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;

	i {
		min-width: 15px;
		min-height: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


// ------------------------------------------------------------------------------------------------
// ABOUT
// ------------------------------------------------------------------------------------------------

.about {
	margin-bottom: 78px;
}

.block-title {
	line-height: 1;
}

.main-subtitle {
	color: #898e8f;
	margin-bottom: 0;
	font-weight: 400;
}

.block-title-about {
	padding-top: 11px;
	margin-bottom: 33px;
}

.about-text {
	margin-bottom: 44px;
}

.btn-about {
	margin-bottom: 20px;
	margin-right: 20px;
}

.about-img,
.proj-img {
	position: relative;
}

.about-img {
	
	a {
		&::after {
			@include link();
			z-index: 1;
		}
	}
}

.img-medal {
	position: absolute;
    top: calc(100% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-medal-style {
	width: 100%;
	max-width: 237px;
	border: 6px solid #ffffff;
	background-color: #03b6e7;
	display: flex;
    justify-content: center;
    align-items: center;
}

.medal-inner {
	margin-top: 20px;
    margin-bottom: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	min-width: 190px;
    min-height: 225px;
}

.medal-inner,
.page-about-medal-style {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.img-icon-medal {
	margin-bottom: 31px;
}

.years-exp,
.years-text {
	color: #fff;
}

.years-exp {
	font-size: 75px;
	line-height: 1;
}

.years-text {
	font-size: 13px;
}

// ------------------------------------------------------------------------------------------------
// STEPS
// ------------------------------------------------------------------------------------------------

.steps {
	padding-top: 95px;
	padding-bottom: 95px;
    margin-bottom: 75px;
}

.steps-block-title {
	margin-bottom: 19px;
}

.steps-logo {
	flex-shrink: 0;

	&.box-circle {
		display: inline-flex;
    	border: 1px solid #ECF1F2;
    	padding: 40px;
    	border-radius: 50%;
		transition: .2s all linear;

	}
}

.steps-info {
	margin-bottom: 20px;
}

.info-box-horizont {
	display: flex;
	cursor: pointer;

	&.active,
	&:hover {
		.box-circle {
			box-shadow: 0 9px 16px rgba(154, 154, 154, 0.3);
		}
	}	

	&:last-child {
		
	}
}

.info-box-text {
	margin-left: 55px;
}

.indus-block-title {
	margin-bottom: 40px;
}

.steps-col-title {
	margin-bottom: 25px;

	a {
		color: inherit;
	}

	&.box-title {
		margin-bottom: 10px;
	}
}

.col-num {
	margin-top: 19px;
	color: #16d428;
	margin-bottom: 0;
}

// ------------------------------------------------------------------------------------------------
// PROJECTS
// ------------------------------------------------------------------------------------------------

.projects {
	margin-bottom: 83px;

	.row {
		margin-bottom: 23px;
	}
}

.project-block-title {
	margin-bottom:31px;
}

.top-info-box {
	position: absolute;
	top: 21px;
	left: 21px;
	padding: 6px 23px;
	border-radius: 30px;
	text-transform: uppercase;
	background-color: transparent;
	font-size: 12px;
	color: #fff;
	border: 2px solid #ffac56;
}

.proj-img {

	a {
		
		&::after {
			@include link();
		}
	}


	&.active, 
	&:hover {
		
		.img-inner-title {
			opacity: 1;
			visibility: visible;
		}

		a {
			&::after {
				transition: all .3s ease-in-out;
				background-color: #ffac56;
				z-index: 1;	
			}
			
		}

		.triangle {
			cursor: pointer;

			&.active,
			&::after {
				border-bottom: 28px solid #f6a149;
    			border-left: 28px solid #f6a149;
			}
		}
	}
}

.img-inner-title {
	position: absolute;
    top: 0;
    left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	padding: 15px;
	cursor: pointer;
	z-index: 1;
}

.img-inner-main-title,
.client-first-name {
	text-transform: uppercase;
	
}

.triangle {
	
	&::before {
		content: '+';
		position: absolute;
		bottom: 0;
		left: 8px;
		line-height: 1;
		font-size: 30px;
		font-weight: 700;
		color: #fff;
		z-index: 3;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		border: 28px solid transparent;
    	border-bottom: 28px solid #03B6E7;;
    	border-left: 28px solid #03B6E7;
    	transition: border-color 0.3s ease;
		z-index: 2;
	}
}

// ------------------------------------------------------------------------------------------------
// REVIEWS
// ------------------------------------------------------------------------------------------------

.reviews {
	padding-top: 97px;
	padding-bottom: 25px;

	.row {
		padding-top: 23px;
		padding-bottom: 70px;
	}
}

.reviews-block-title {
	margin-bottom: 54px;
}

.main-quote {
	margin-bottom: 20px;
	margin-top: 20px;
}

.clients {
	display: flex;
}

.client-account {
	position: relative;
	display: flex;
	align-items: center;
	opacity: 0.6;
	transition: .2s all linear;

	a {

		&::after {
			@include link();
		}
	}

	&:not(:first-child) {
		margin-left: 92px;
	}

	&.active,
	&:hover {
		opacity: 1;
	}

}

.client-first-name,
.meneger-name {
	margin-bottom: 0;
}

.clients-info {
	margin-left: 31px;
}

.buttons-slider {
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

.circle-btn-slider {
	
	i {
		transition: all .3s ease-in-out;
		cursor: pointer;
		font-size: 16px;
		color: #ffffff;

		&:nth-child(2) {
			margin-left: 2px;
			margin-right: 2px;
		}

		&.active,
		&:hover {
			color: #16d428;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// BLOG
// ------------------------------------------------------------------------------------------------
.blog {
	overflow-x: hidden;
	margin-bottom: 80px;
}

.left-info-block {
	padding-top: 80px;
}

.blog-inner {
	display: flex;
    justify-content: space-between;
	align-items: center;
	
}

.tab-menu {
	display: flex;
	margin-top: 16px;
	margin-left: 15px;

	li {
		margin-right: 12px;
		text-align: center;

		a {
			display: inline-block;
			padding: 7px 26px;	
			white-space: nowrap;
			width: 100%;
			min-width: 150px;
			border-radius: 30px;
			text-transform: uppercase;
			color: #606668;
			font-size: 12px;
			border: 2px solid #989fa0;
		}

		&.active,
		&:hover {

			a {
				border: 2px solid #ffac56;
			}
		}
	}
}

.blog-item {
	padding-top: 45px;
	padding-bottom: 14px;
}

.blog-item-title {
	margin-bottom: 18px;

	a {
		color: inherit;
		padding-top: 5px;
		padding-bottom: 5px;

		&:hover {
			opacity: 0.8;
		}
	}
}

.date {
	font-family: $font-domine;
}

.date-num {
	color: #16d428;
}

.blog-img {
	background: url(../img/blog-foto.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 747px;
	min-width: 985px;
}

// ------------------------------------------------------------------------------------------------
// CONTACT
// ------------------------------------------------------------------------------------------------
.contact {
	margin-bottom: 75px;

	.row {

		.col-lg-4 {
			margin-bottom: 20px;
		}
	}
}

.contact-inner {
	display: flex;
	border: 1px solid #e1eaec;
	padding: 32px;
	flex-wrap: wrap;
}

.contact-block {
	margin-bottom: 36px;
}

.contact-img {
	margin-right: 40px;
	flex-shrink: 0;
}

// ------------------------------------------------------------------------------------------------
// MAIN FOOTER
// ------------------------------------------------------------------------------------------------

.main-footer {
	padding-top: 92px;
	padding-bottom: 77px;

	.row {
		.col-lg-6,
		.col-lg-2 {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.footer-title-column {
	font-size: 20px;
	font-weight: 700;
}

.footer-suptitle {
	margin-bottom: 44px;
	max-width: 394px;
}

.subscribe {
	display: flex;
	align-items: center;
	height: 52px;
	width: 100%;
	max-width: 514px;
	margin-bottom: 20px;

	input[type="text"] {
		padding-left: 34px;
    	padding-right: 20px;
		background-color: rgb(50, 51, 52);
		font-size: 13px;
		border-radius: 30px;
		width: 100%;
		max-width: 415px;
		color: #5e5e5e;
	}

	input[type="submit"] {
		border-radius: 30px;
		padding: 15px 37px;
		margin-left: -30px;
	}
}


.block-title-footer {
	margin-bottom: 21px;
}

.vertical-menu {
	
	li {
		font-size: 13px;

		a {
			display: inline-block;
			padding-top: 6px;
			padding-bottom: 6px;
			text-transform: uppercase;
			color: inherit;
		}

		&:hover {

			a {
				color: #fff;
			}
		}
	}
}

// ------------------------------------------------------------------------------------------------
// ABOUT SITE
// ------------------------------------------------------------------------------------------------

.page-about-intro {
	background: url(../img/index-about-girl.png);
	min-height: 292px;
	@include bg-img();
	display: flex;
    align-items: center;
	margin-bottom: 96px;
}

.page-main-title {
	font-weight: 700;
}

.bg-circle {
	display: inline-flex;
	min-width: 54px;
	min-height: 54px;
	border-radius: 50%;
	background-color: #ffac55;
}

.page-block-about {
	display: flex;
	align-items: center;
}

.page-about-main-title {
	position: relative;
    margin-left: -36px;
}

// ------------------------------------------
// WHAT WE DO
// ------------------------------------------

.what-we-do {

	.row {

		.col-lg-6 {
			margin-bottom: 25px;
		}
	}
}

.page-block-what {
	margin-bottom: 29px;
}

.col-inner-block {
	display: flex;
}

.page-about-img {
	margin-top: -84px;
	box-shadow: 0 9px 16px rgba(154, 154, 154, 0.3);
}

.page-about-years {
	padding-top: 30px;
    padding-bottom: 55px;
}

.page-about-medal-style {
	min-width: 241px;
}

.page-about-yers-exp {
	font-size: 48px;
}

.page-about-what-col-text {
	max-width: 499px;
	line-height: 1.8;
}

.padding-right {
	padding-right: 15px;
}

// ------------------------------------------
// CORE
// ------------------------------------------

.page-block-steps {
	margin-bottom: 30px;
}

.page-about-steps {
	padding-bottom: 72px;
	margin-top: -120px;
	margin-bottom: 94px;
}

.page-steps-logo {
	margin-bottom: 27px;
}

// ------------------------------------------
// MISSION
// ------------------------------------------

.mission {
	padding-bottom: 92px;
	border-bottom: 1px solid;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

	.row {
		margin-bottom: 77px;
	}
}

.page-block-mission {
	margin-bottom: 32px;
}

.img-mission {
	margin-bottom: 43px;
}

// ------------------------------------------
// MANAGEMENT
// ------------------------------------------

.management {
	padding-top: 95px;
	padding-bottom: 95px;


	.row {
		margin-bottom: 55px;
	}
}

.page-block-management {
	margin-bottom: 39px;
}

.meneger-info-box {
	display: flex;
}

.meneger-img {
	flex-shrink: 0;
}

.meneger-text {
	padding-top: 10px;
	padding-left: 27px;
}

.meneger-info {
    margin-bottom: 15px;
}

.meneger-name {
	font-weight: 700;
}

.social {
	padding-top: 10px;
	border-top: 1px solid #ccd3d3;

	.social-link {
		text-transform: uppercase;
		font-size: 13px;
	}
}

.link-facebook {
	color: #6880B0;
}

.link-twitter {
	color: #51ABF1;
	margin-left: 5px;
    margin-right: 5px;
}

.link-google {
	color: #E57970;
}

.about-meneger {
	margin-bottom: 50px;
}

// ------------------------------------------
// Industies
// ------------------------------------------

.industries {
	margin-bottom: 92px;

	.row {
		margin-bottom: 70px;

		.col-lg-6 {
			margin-bottom: 72px;

			&:nth-child(7),
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// ------------------------------------------
// PAGE PROJ
// ------------------------------------------

.page-proj {
	padding-top: 96px;
	padding-bottom: 96px;
	margin-bottom: 0;

	.row {
		margin-bottom: 45px;
	}
}

@media(max-width: 1024px) {

	// HEADER

	.projects {
		margin-bottom: 25px;
	}

	.page-proj {
		margin-bottom: 0;
	}

	.main-nav {
		display: none;
	}

	.burger {
		display: block;
	}

	.header-col-right {
		justify-content: center;
	}

	.contact {
		margin-bottom: 10px;
	}

	.industries {
		margin-bottom: 60px;
	}
}

@media(max-width: 991px) {

	// INTRO

	.intro {
		margin-bottom: 30px;

		.row {

			.col-sm-6,
			.col-with-btn {
				display: none;

			}
		}
	}

	.banner {
		left: 0;
		cursor: pointer;
		transition: all .3s ease-in-out;
		&:hover {
			background-color: #f6a149;

			.arrow-up {

				i {
					color: #fff;
				}
			}
		}
	}

	//PROJECTS

	.projects {

		.row {

			.col-lg-6 {
				margin-bottom: 30px;
			}
		}
	}

	//REVIEWS

	.reviews {

		.row {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	.reviews,
	.left-info-block,
	.page-proj {
		padding-top: 55px;
    	padding-bottom: 55px;
	}
	
	.clients {
		flex-direction: column;
	}

	.client-account {
		margin-bottom: 25px;

		&:not(:first-child) {
			margin-left: 0;
		}
	}

	.arrow-up {
		display: block;
	}

	.buttons-slider {
		justify-content: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	//BLOG
	
	.blog {
		margin-bottom: 50px;
	}

	// ------------------------------------------
	// PAGE ABOUT
	// ------------------------------------------

	.col-inner-block {
		flex-direction: column;
		align-items: flex-start;
	}

	.page-about-img {
		margin-top: 0;
	}

	.page-about-steps {
		margin-top: -105px;
	}

	.mission {
		padding-bottom: 60px;

		.row {
			margin-bottom: 30px;

			.col-lg-6 {
				margin-bottom: 30px;
			}
		}
	}

	.management {

		.row {
			margin-bottom: 25px;
		}
	}

	.management,
	.page-about-steps {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.meneger-info-box {
		margin-bottom: 30px;
	}

	.about-meneger {
		margin-bottom: 15px;
	}

	// INDUSTRIES

	.industries {

		.row {
			margin-bottom: 25px;

			.col-lg-6 {
				margin-bottom: 30px;
			}
		}
	}

	.info-box-text {
		margin-left: 25px;
	}

}

@media(max-width: 770px) {

	// HEADER

	.header-top {
		display: none;
	}

	.page-about-intro {
		margin-bottom: 60px;
	}

	.steps {
		padding-top: 65px;
	}

	.page-about-img {
		display: none;
	}

	.page-about-steps {
		margin-top: 0px;
	}

	.info-box-horizont {
		flex-direction: column;
		align-items: flex-start;
	}

	.info-box-text {
		margin-left: 0px;
	} 

	.box-circle {
		margin-bottom: 20px;
	}
}

@media(max-width: 520px) {

	.about {
		margin-bottom: 35px;
	}

	.img-medal {
		display: none;
	}

	//steps

	.steps {
		padding-top: 55px;
		padding-bottom: 55px;
	}

	//blog

	.blog-img {
		display: none;
	}

	.tab-menu {
		display: none;
	}

	.banner {
		display: none;
	}

	.footer-form {
		input[type="submit"] {
			padding: 15px 20px;
		}
	}
}

@media(max-width: 420px) {

	// INTRO 

	.banner-title {
		font-size: 26px;
	}

	.banner-subtitle {
		max-width: 300px;
	}

}


