@import './bootstrap-grid.scss';
@import './reset.scss';

// ------------------------------------------------------------------------------------------------
// SITE
// ------------------------------------------------------------------------------------------------

//**** Fonts ****//

$font-popins:'Poppins', sans-serif;
$font-monts:'Montserrat', sans-serif;
$font-palatino:'Palatino Linotype', sans-serif;

//**** MIXINS ****//

@mixin bg-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	line-height: 1.4;
	color: #1d1d1d;
	font-size: 15px;
	font-family: $font-monts;
	font-weight: 400;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

img {
	height: auto;
	vertical-align: middle;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: all .2s linear;
}

p {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 30px;
    color: #484848;
	font-family: $font-monts;
	font-weight: 600;

    &:last-child {
        margin-bottom: 0;
    }
}

h1 {
font-size: 65px;
}

h2 {
font-size: 50px;
}

h3 {
font-size: 43px;
}

h4 {
font-size: 33px;
}

h5 {
font-size: 25px
}

h6 {
font-size: 18px;
}

// ------------------------------------------
// COLOR SCHEME LIGHT
// ------------------------------------------

.color-scheme-light {

	h1,h2,h3,h4,h5,h6 {
		color: #FFF;
	}

	p, ul {
		color: rgba(255,255,255,.9);
	}
}

//**** BASE STYLE FOR MAIN TITLE ****//

.main-block-title {
	padding: 10px 10px;
}

.main-title {
	line-height: 1;
}

.main-subtitle {
	font-family: $font-palatino;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 0;
}
//**** END ****//

//**** btn circle base style ****//

.btn-circle {
	display: inline-block;
	padding: 18px 47px;
	border-radius: 30px;
	background-color: #f42267;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);

	&:hover {
		background-color: #9c8fb4;
	}
}
//**** END ****//

// ------------------------------------------
// HELPER CLASSES
// ------------------------------------------

.text-center {
	text-align: center;
}
  
.light-background {
	background-color: #f1f1f1;
}

.blue-black-background {
	background-color: #4b2d7f;
}

// ------------------------------------------------------------------------------------------------
// HEADER
// ------------------------------------------------------------------------------------------------

.main-header {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	padding-top: 45px;
	padding-bottom: 45px;

	.container {
		max-width: 1665px;
	}
}

.header-inner {
	display: flex;
	align-items: center;
}

.header-logo {
	flex-grow: 1;
}

.menu {
	display: flex;
	align-items: center;
	padding-left: 10px;

	li {
		position: relative;
		margin-right: 11px;
		margin-left: 11px;
		
		a {
			display: inline-block;
			padding: 12px 6px;
			font-size: 17px;
			color: #fff;
			font-weight: 600;

			&:hover {
				color: #f66f9c;
			}
		}
	}
}

.burger div {
	width: 30px;
	height: 4px;
	background-color: #fff;
	margin: 4px;
	cursor: pointer;
}

.menu,
.burger {
	padding-top: 17px;
}

// ------------------------------------------------------------------------------------------------
//	INTRO
// ------------------------------------------------------------------------------------------------

.intro {
	position: relative;
	background: url(../img/intro-bg.jpg);
	@include bg-img();
	min-height: 946px;
	display: flex;
	margin-bottom: 70px;

	.container {
		max-width: 1376px;
	}
}

.img-man {
	position: absolute;
    bottom: 0;
    left: 43%;
}

.intro-main-block-title {
	padding-top: 276px;
	max-width: 775px;
	//margin-bottom: 90px;
}

.intro-main-suptitle {
	margin-bottom: 16px;
}

.intro-p {
	font-size: 23px;
	margin-bottom: 75px;
}

.buttons {
	padding-right: 60px;
	padding-left: 60px;
}

.btn-intro {
	margin-right: 19px;
	font-size: 17px;
	
}

// ------------------------------------------------------------------------------------------------
// ABOUT
// ------------------------------------------------------------------------------------------------

.about {
	background: url(../img/World-Map.png);
	@include bg-img();
	background-size: contain;
}

.about-main-block-title {
	margin-bottom: 50px;
}

.menu-slider {
	display: flex;
	margin-bottom: 26px;
	flex-wrap: wrap;

	li {
		border-radius: 30px;
		transition: all .2s linear ;
		
		a {
			display: inline-block;
			font-size: 13px;
			white-space: nowrap;
			padding: 15px 30px;
			border-radius: 30px;
			text-transform: uppercase;
			color: #484848;
			font-weight: 600;
		}

		&.active,
		&:hover {
			background-color: #f42267;

			a {
				color: #fff;
			}
		}
	}
}

.about-p {
	max-width: 564px;
	margin-bottom: 50px;
}

//**** BASSE STYLE BTN GENERAL ****//

.general-btn {
	background-color: #f42267;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	padding: 15px 30px;
	border-radius: 10px;
	box-shadow: 0 10px 0 #ff5990;

	&:hover {
		background-color: #ff5990;
		box-shadow: 0px 0px 0px;
	}
}
//**** END ****//

.about-btn {
	margin-left: 20px;
}


.arrow {
	border: solid #ff5990;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 20px;
	display: none;
	cursor: pointer;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}





// ------------------------------------------------------------------------------------------------
// MEDIA
// ------------------------------------------------------------------------------------------------

@media(max-width: 1024px) {
	//**** Header ****//

	.menu {
		display: none;
	}

	//**** intro ****//

	.img-man {
		display: none;
	}
}

@media(max-width: 990px) {

	//**** ABOUT ****//

	.about {

		.row {

			.col-lg-7 {
				margin-bottom: 50px;
			}
		}
	}

	.about-menu {
		justify-content: center;
	}

	.arrow {
		display: block;
		
	}
}



@media(max-width: 800px) {

	//**** INTRO ****//

	.intro-main-subtitle {
		font-size: 30px;
	}

	.intro-main {
		font-size: 50px;
	}

	.buttons {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
}

@media(max-width: 690px) {
	.arrow {
		display: none;
	}
}

@media(max-width: 620px) {

	//**** Intro ****//

	.intro-main-suptitle {
		font-size: 32px;
	}

	.intro-main {
		font-size: 42px;
	}

	.intro-p {
		font-size: 19px;
	}

	.btn-intro {
		margin-bottom: 20px;
	}
}

@media(max-width: 420px) {
		//**** Intro ****//

		.intro-main-suptitle {
			font-size: 24px;
		}
	
		.intro-main {
			font-size: 30px;
		}
}